In [ ]:
### Que 1

In [ ]:
What are the characteristics of the tuples? Is tuple immutable?

In [1]:
Ans: Tuple is assigned using (), Tuple is ordered, Tuples allow duplicates, Tupples are immutable.

SyntaxError: invalid syntax (1649293946.py, line 1)

In [ ]:
###Que 2

In [ ]:
Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

In [ ]:
Ans: tupp.count(.) , tupp.index(.)

In [2]:
tupp = (1,2,3,4,5,5,6,6,6,6,6,7)

In [3]:
tupp.count(5)

2

In [9]:
tupp.index(6)

6

In [ ]:
Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [30]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [34]:
print(List[:])

[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [36]:
x = [1,2,3,4,4,5,6,4,5,5,6,6,6,4,4,5,4,3,3,4,5,4]

In [37]:
print(x)

[1, 2, 3, 4, 4, 5, 6, 4, 5, 5, 6, 6, 6, 4, 4, 5, 4, 3, 3, 4, 5, 4]

In [41]:
for a in range(len(x)):
    print(x[a])

1
2
3
4
4
5
6
4
5
5
6
6
6
4
4
5
4
3
3
4
5
4

In [44]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [45]:
my_set = set(List)

In [46]:
[my_set

{1, 2, 3, 4}

In [ ]:
Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

In [48]:
set = {1,2,3,4}

In [49]:
set

{1, 2, 3, 4}

In [51]:
set.update({5})

In [52]:
set

{1, 2, 3, 4, 5}

In [54]:
set.union({6})

{1, 2, 3, 4, 5, 6}

In [55]:
set

{1, 2, 3, 4, 5}

In [ ]:
Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

In [ ]:
Dictionaries are used to store data value in key:value pairs.

In [66]:
Dict = {"a":1, "b":2, "c":[1,2,3]}

In [67]:
Dict

{'a': 1, 'b': 2, 'c': [1, 2, 3]}

In [ ]:
A dictionary is ordered

In [ ]:
Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

In [ ]:
Yes we can create a nested dictionary

In [70]:
Dict2 = {'a': 1, 'b': 2, 'c': [1, 2, 3], 'd':{"e":2,"f":3}}

In [71]:
Dict2

{'a': 1, 'b': 2, 'c': [1, 2, 3], 'd': {'e': 2, 'f': 3}}

NameError: name 'd' is not defined

In [ ]:
Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [2]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [ ]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [5]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [6]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [7]:
print(dict1)

{'Sport': 'Cricket', 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [9]:
print(dict1.keys())

dict_keys(['Sport', 'Teams'])